@import url(base.css);
#fmb-ctnr {
  transition: top 0.5s;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  min-width: 100%;
  display: flex;
  justify-content: center;
  z-index: 7;
  background: rgba(0, 0, 0, 0.7); }
  #fmb-ctnr #fmb-ctnr-wide-menu,
  #fmb-ctnr #fmb-ctnr-narrow-menu {
    z-index: 6;
    display: flex; }
    #fmb-ctnr #fmb-ctnr-wide-menu > div:not(.show-lang),
    #fmb-ctnr #fmb-ctnr-narrow-menu > div:not(.show-lang) {
      font-size: large;
      cursor: pointer;
      color: #fff;
      padding: 1rem; }
      #fmb-ctnr #fmb-ctnr-wide-menu > div:not(.show-lang):hover,
      #fmb-ctnr #fmb-ctnr-narrow-menu > div:not(.show-lang):hover {
        transition: ease-out 500ms;
        background: #ff0000;
        color: #fff; }
      #fmb-ctnr #fmb-ctnr-wide-menu > div:not(.show-lang) i,
      #fmb-ctnr #fmb-ctnr-narrow-menu > div:not(.show-lang) i {
        font-size: large; }
    #fmb-ctnr #fmb-ctnr-wide-menu > .show-lang,
    #fmb-ctnr #fmb-ctnr-narrow-menu > .show-lang {
      position: relative; }
      #fmb-ctnr #fmb-ctnr-wide-menu > .show-lang #show-lang-submenu,
      #fmb-ctnr #fmb-ctnr-narrow-menu > .show-lang #show-lang-submenu {
        position: absolute;
        padding: 0;
        display: none;
        flex-direction: column;
        left: 0; }
        #fmb-ctnr #fmb-ctnr-wide-menu > .show-lang #show-lang-submenu span,
        #fmb-ctnr #fmb-ctnr-narrow-menu > .show-lang #show-lang-submenu span {
          cursor: pointer;
          padding: 1rem;
          font-size: large; }
          #fmb-ctnr #fmb-ctnr-wide-menu > .show-lang #show-lang-submenu span:hover,
          #fmb-ctnr #fmb-ctnr-narrow-menu > .show-lang #show-lang-submenu span:hover {
            transition: ease-out 500ms;
            background: #ff0000;
            color: #fff; }
      #fmb-ctnr #fmb-ctnr-wide-menu > .show-lang div:first-child,
      #fmb-ctnr #fmb-ctnr-narrow-menu > .show-lang div:first-child {
        font-size: large;
        cursor: pointer;
        color: #fff;
        padding: 1rem; }
        #fmb-ctnr #fmb-ctnr-wide-menu > .show-lang div:first-child:hover,
        #fmb-ctnr #fmb-ctnr-narrow-menu > .show-lang div:first-child:hover {
          transition: ease-out 500ms;
          background: #ff0000;
          color: #fff; }
        #fmb-ctnr #fmb-ctnr-wide-menu > .show-lang div:first-child i,
        #fmb-ctnr #fmb-ctnr-narrow-menu > .show-lang div:first-child i {
          font-size: large; }
  #fmb-ctnr #fmb-ctnr-narrow-menu {
    display: none; }

.menu-show {
  display: flex !important; }

@media screen and (max-width: 670px) {
  #fmb-ctnr {
    justify-content: flex-start; }
    #fmb-ctnr #fmb-ctnr-wide-menu {
      display: none;
      flex-direction: column;
      flex: 1; }
      #fmb-ctnr #fmb-ctnr-wide-menu div {
        display: block; }
      #fmb-ctnr #fmb-ctnr-wide-menu .show-lang #show-lang-submenu {
        position: inherit; }
    #fmb-ctnr #fmb-ctnr-narrow-menu {
      display: flex;
      position: absolute;
      right: 0; } }
